<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
    <div class="project">
      <h3>Challenges</h3>
      <% data.projects. each do |project| %>
        <projectnumber class="projectnumber">
          <%= project[:number] %>:
        </projectnumber>
        <a class="projecttitle" href="<%= project[:url] %>">
          <%= project[:name] %>
        </a>
         -
        <a class="projectgithuburl" href="<%= project[:GithubUrl] %>">
          <%= project[:GithubUrl] %>
        </a>

        <br/>
        <projectdescription class="projectdescription">
          <%= project[:description] %>
        </projectdescription>
        <br/><br/>
      <% end %>
    </div>
  </body>
</html>
